@page "/"
@using NHL_Brandstofcafe.Models
@using NHL_Brandstofcafe.Services
@using System.Linq
@inject NHL_Brandstofcafe.Services.IBrandstofcafeDataService DataService

<PageTitle>Home</PageTitle>
<h1>Brandstofcafe</h1>

@code {
    private List<Sectie>? _secties;

    protected override async Task OnInitializedAsync()
    {
        _secties = await DataService.GetSectiesAsync();
    }
}

@if (_secties == null) {
    <p><em>Laden van Secties ..</em></p>  // Bericht terwijl Data laadt
}

else if (! _secties.Any()) {    //of de lijst leeg is (vai Systeem.Linq)
    <p> Er Zijn momenteel geen secties beschikbaar in het Brandstofcafe</p>
}
else {
    <h2>Beschikbare Secties:</h2>   // Toen secties in een ongeirdende lijst
    <ul>
        @foreach (var sectie in _secties)
        {
           <li>@sectie.Naam (ID: @sectie.Id)</li>         
        }
   </ul>
} 
